{% extends 'main.html' %}
{% block content %}
 <form method="POST", action="{{ url_for('save') }}">
 {% if archive == True %}
  <p class="archivewarn">This is an archived, historical version of the post.
    Under no circumstances save this unless you are sure you wish to restore this version.</p>
  <p><strong>Preview:</strong></p>
  <div class="article preview">
   {{ content|markdown }}
  </div>
 {% endif %}
 {% if new %}
  {% if title == '' %}
   <p>Name your article, give it some content, then click save.</p>
  {% else %}
   <p>This article does not exist. You can create it by typing in some content and hitting save.</p>
  {% endif %}
  <p><label for="article_name">Article Name</label><br/>
   <input type="text" name="article_name" value="{{ title }}" />
  </p>
  {% else %}
  <input type="hidden" name="article_name" value="{{ title }}"/>
 {% endif %}
   <input type="hidden" name="new" value="{{ new }}" />
   <p><label for="content">Content</label><br/>
    <textarea id="content" name="content">{{ content }}</textarea>
   </p>
   <p><input type="submit" value="Save"/></p>
  </form>
{% endblock %}