body {
    font-family: Helvetica, 'Tex gyre heros', 'arial', sans-serif;
    padding: 0px;
    margin: 0px;
}

pre {
    margin-left: .5em;
    padding: 5px;
}

pre, code {
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #eee;
    color: #444;
}

pre code {
    border: 0px;
}

blockquote {
    border-left: 2px solid #ccc;
    margin-left: 0em;
    padding-left: .5em;
    color: #666;
}
textarea#content {
    font-family: monospace;
    width: 600px;
    height: 200px;
}

div#wrapper, header {
    padding: 0em 2em 0em 2em;
}

div#wrapper {
    width: 500px;
}
header {
    background-color: #0e0e0e;
    color: #888;
    margin-top: 0px;
    padding-bottom: .2em;
    padding-top: .1em;
    width: 100%;
}

header h1 a, header h1 a:visited, header h1 a:hover {
    color: #ccc;
    text-decoration: none;
}
header h1 a.new, header h1 a.new:visited, header h1 a.new:hover {
    color: #666;
    text-decoration: none;
}

label {
    font-weight: bold;
}

.options {
    border-top: 1px solid #eee;
    font-size: 10pt;
    padding-top: 5px;
}
.flash {
    border: 1px solid #eeaa00;
    color: #aa4400;
    background-color: #ffffdd;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.error {
    border-color: #ee0000;
    color: #aa0000;
    background-color: #ffdddd;
}
div#wrapper h1 {
    font-size: 32pt;
}
div#content h1 {
    font-size: 24pt;
    border-top: 5px solid #ccc;
    padding-top: 5px;
}
div#content h2 {
    border-top: 2px solid #eee;
    padding-top: 5px;
    font-size: 18pt;
}
div#content h3 {
    font-size: 14pt;
}
div#content h4 {
    font-size: 12pt;
}
.archivewarn {
    color: red;
}
div.preview {
    background-color: #eee;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}